$btn-radius: 5px 5px 5px 5px;

.btn {
  margin: 5px;
  border: 1px solid #000000;
  background-color: #B3B3B3;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  width: 50%;
  -webkit-border-radius: $btn-radius;
  -moz-border-radius: $btn-radius;
  border-radius: $btn-radius;
}
