.base {
  width:400px;
  -webkit-border-radius: 0px 20px 0px 20px;
  -moz-border-radius: 0px 20px 0px 20px;
  border-radius: 0px 20px 0px 20px;
  border:2px solid #333333;
  background-color:#84ADE3;
  -webkit-box-shadow: #B3B3B3 10px 10px 10px;
  -moz-box-shadow: #B3B3B3 10px 10px 10px;
  box-shadow: #B3B3B3 10px 10px 10px;
  margin: 20px;
}

.base-header{
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.base-content {
  color: #333333;
  font-size: 12px;
  margin: 10px 10px 20px 10px;
}

.base-button {
  text-align: right;
}
