.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  -webkit-border-radius: 0px 20px 0px 20px;
  -moz-border-radius: 0px 20px 0px 20px;
  border-radius: 0px 20px 0px 20px;
  border:2px solid #333333;
  background-color:#FEFEFE;
  -webkit-box-shadow: #B3B3B3 10px 10px 10px;
  -moz-box-shadow: #B3B3B3 10px 10px 10px;
  box-shadow: #B3B3B3 10px 10px 10px;
  margin: 20px;
}
